:root {
  --main-color-light: #4A90E2;
  --main-color-deep: #00408B;
  --danger-color: #D0021B;
  --important-color-deep: #F5A623;
  --important-color-lite: #FFF2DC;
  --font-color-deep: #000000;
  --font-color-light: #757575;
  --font-color-lightest: #C8C8C8;
  --background-color-deep: #E1E1E1;
  --background-color-light: #F2F2F2;
}

/** Reset CSS **/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

a {
  text-decoration-line: none;
}

ul {
  list-style: none;
}

input[type="text"],
textarea {
  box-sizing: border-box;
  border: .13rem solid #C8C8C8;
  border-radius: .31rem;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding: 1.1rem 2rem;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: .13rem solid var(--main-color-light);
}

/** Define Style **/

.main-title,
::placeholder {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.paragraph,
.remark {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.remark,
::placeholder {
  color: var(--font-color-light);
}

/** Site Style **/

body {
  background-color: var(--background-color-deep);
}

header>nav {
  background-color: var(--main-color-light);
}

header>nav>ul {
  width: 100%;;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

header>nav>ul>li {
  width: 10rem;
  height: 4.44rem;
  margin: 0 1.9rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: .31rem solid var(--main-color-light);
}

header>nav>ul>li>a {
  color: var(--main-color-deep);
}

header>nav>ul>li.active {
  border-bottom-color: var(--main-color-deep);
}

header>nav>ul>li.active>a {
  color: #FFFFFF;
}

section.content-wrapper {
  width: 38.75rem;
  margin: auto;
  margin-top: .7rem;
}

div.new-todo {
  width: 100%;
}

/** custom checkbox style start **/

.checkbox-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}

.checkbox-marker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: .15rem;
  background-color: #FFFFFF;
}

.checkbox-marker:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper .checkbox-marker:after {
  left: .4rem;
  top: .2rem;
  width: .35rem;
  height: .6rem;
  border: solid white;
  border-width: 0 .1rem .1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-wrapper>[type="checkbox"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

[type="checkbox"]:hover~.checkbox-marker {
  background-color: var(--font-color-lightest);
}

[type="checkbox"]:checked~.checkbox-marker {
  background-color: var(--main-color-light);
}

[type="checkbox"]:checked~.checkbox-marker:after {
  display: block;
}

/** new todo input style **/

.new-todo {
  margin: 1.2rem 0;
}

.new-todo input[type="text"]{
  height: 4rem;
}

/** todo list & item style **/

.todo-list {
  margin: 0.3rem 0;
}

.todo-item {
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-color-light);
  border-radius: .25rem;
  margin-bottom: .4rem;
  user-select: none;
}

.todo-item .todo-title {
  margin-left: .8rem;
  vertical-align: top;
}

.todo-item .toolbox {
  float: right;
  margin-right: 1.5rem;
}

.todo-item .toolbox span {
  margin-left: 1.5rem;
  cursor: pointer;
}

.todo-item .tips-content {
  position: relative;
  margin-top: .75rem;
  left: 2.5rem;
}

.todo-item .tips-content div {
  display: inline;
  margin-right: .5rem;
}

.todo-item.marked {
  background-color: var(--important-color-lite);
}

.todo-item.marked .toolbox .star-button {
  color: var(--important-color-deep);
}

.todo-item.completed .todo-title {
  font-style: italic;
  text-decoration-line: line-through;
  color: var(--font-color-lightest);
}

.todo-counting{
  font-style: italic;
  color: var(--font-color-lightest);
  padding-left: 2rem;
}
